
project/member01/.classpath
project/member01/.project
*.MF
project/member01/.settings/.jsdtscope
*.prefs
*.xml
*.component
*.container
*.name
*.properties
*.policy
project/Servers/.project
project_CRUD/member01/.classpath
project_CRUD/member01/.project
project_CRUD/member01/.settings/.jsdtscope
